:root{--link-color:#212121;
      --background-color:#2f303a;
      --border-color:#ececec;
      --link-activ:#2196f3;
      --main-background:#2f303a;
      --address:#757575;
      --button-hover:#188ce8;
      --background:#ffffff;
      --black:#000000;
      --team-background:#f5f4fa;
}     

:root{
--heading-font-family:'Raleway', sans-serif;
--text-font-family:'Roboto', sans-serif;
--font-weight-500:500;
}

.global-header{
  background-color:var(--background);
  border: 1px solid var(--border-color);
  width: 1600px;
  top: 80px;
  angle: 0 deg;

}
.logo-web{
  font-family:"Oleo Script", sans-serif;
}
.logo .logo-web {
font-family: Oleo Script;
font-size: 26px;
font-weight: 400;
line-height: 2.8;
letter-spacing: 0.03em;
text-align: left;
color: var(--link-activ);
width: 145px;
height: 31px;
top: 24px;
left: 215px;

}

.global-header .logo .logo-studio {
  font-family:var(--heading-font-family);
  font-size: 26px;
  font-weight: 700;
  line-height: 2.4;
  letter-spacing: 0.03em;
  text-align: left;
  letter-spacing: 0.03em;
  color: var(--black);
  
}

a {
  text-decoration: none;
}
a:hover {
  color: var(--link-activ);
}
a:active{
  color: var(--link-activ);
}
ul {
  list-style-type: none;
}
.gallery {
  width: 370px
  height: 404px;
  top: 1130px;
  left: 1015px;
  
}

/*Logo WebStudio*/




.studio {
  font-family:var(--text-font-family);
  font-size: 14px;
  font-weight: var(--font-weight-500);
  line-height: 1.28;
  letter-spacing: 0.02em;
  text-align: left;
  width: 42px;
  height: 16px;
  margin-top: 32px;
  color:var(--link-color);
}

.portofoliu {
  font-family: var(--text-font-family);
  font-size: 14px;
  font-weight: var(--font-weight-500);
  line-height: 1.28;
  letter-spacing: 0.02em;
  color: var(--link-color);
  width: 58px;
  height: 16px;

}

.portofoliu:active{
  font-family: var(--text-font-family);
  font-size: 14px;
  font-weight: var(--font-weight-500);
  line-height: 1.28;
  letter-spacing: 0.02em;
  text-align: left;
  color:var(--link-activ);
  width: 58px;
  height: 16px;
  top: 32px;

}

.contacts {
  font-family: var(--text-font-family);
  font-size: 14px;
  font-weight: var(--font-weight-500);
  line-height: 1.25;
  letter-spacing: 0.02em;
  text-align: left;
  width: 59px;
  height: 16px;
  top: 32px;
  color:var(--link-color);
}



.email {
  font-family: Roboto;
  font-size: 14px;
  font-weight: var(--font-weight-500);
  line-height: 1.25;
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--address);
}

.tel {
  font-family: Roboto;
  font-size: 14px;
  font-weight: var(--font-weight-500);
  line-height: 1.25;
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--address);
}
/*main portofoliu*/



/*main studio*/
.main{
  width: 1600px;
  height: 600px;
  top: 80px;
  background-color:var(--main-background);
}
h1{
  font-family: var(--text-font-family);
  font-size: 44px;
  font-weight: 900;
  color: var(--background);
  width: 696px;
  height: 120px;
  margin-top: 280px;
  margin-left: 452px;
  text-align: center;
  text-transform: uppercase;

}
.button-request:hover{
  width: 136px;
  margin-left: 732px;
  background: var(--button-hover);
  box-shadow: 0px 4px 4px 0px #00000026;
  width: 200px;
  height: 50px;
  top: 430px;
  left: 700px;
  border-radius: 4px;
  font-family: inherit;
}
.button-request:active{
  color: var(--button-hover);
}
.button-request{
  width: 200px;
  height: 50px;
  top: 430px;
  left: 700px;
  border-radius: 4px;
  flex-shrink: 0;
  color: var(--background);
  font-family:var(--text-font-family);
  font-size: 16px;
  font-weight: 700;
  background:var(--link-activ);
  line-height: :2.34; /*187.5% ,30px*/
  letter-spacing:0.96px;
  box-shadow: 0px 4px 4px 0px #00000026;
  font-family:inherit;
  
}

/*about company*/

.company-title{
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.28;
  letter-spacing: 0.03em;
  text-align: left;
  width: 270px;
  height: 16px;
  top: 774px;
  color: var(--link-color);
}

.details{
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.87;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--address);
  width: 270px;
  height: 75p;x
  margin-top: 800px;
  
}

/*what we do*/



.boxes-title{
  font-family: var(--text-font-family);
  font-size: 36px;
  font-weight: 700;
  line-height: 3.29;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--link-color);
}

/*our team*/
.team{
  background-color: var(--team-background);
}

.team-title{
  font-family: var(--text-font-family);
  font-size: 36px;
  font-weight: 700;
  line-height: 3.29;
  letter-spacing: 0.03em;
  text-align: center;
  color:var(--link-color);
}

.team-name{
  font-family: var(--text-font-family);
font-size: 16px;
font-weight: var(--font-weight-500);
line-height: 1.48;
letter-spacing: 0.03em;
text-align: center;
color: var(--link-color);

}

.functions-name{
  font-family: var(--text-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.46;
  letter-spacing: 0.03em;
  text-align: center;
  color:var(--address);
}
  

/*footer*/

.footer{
  background: var(--main-background);
  width: 1600px;
  height: 251px;
  top: 2097px;
}
.logo{margin-left: 215px;}

.footer-studio{
  font-family: var(--heading-font-family);
  font-size: 26px;
  font-weight: 700;
  line-height: 2.38;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--background);

}

.address {
  font-family:var(--text-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: 0.03em;
  color:var(--background);
  text-align: left;
  width: 207px
  height: 16px;
  top: 1747px;
  margin-left: 215px;
  
}

.footer-address{
  font-family: var(--text-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: 0.03em;
  text-align: left;
  color: #FFFFFF99;
  width: 231px;
  height: 16px;
  margin-left: 215px;
  margin-top: 1775px;
  

}

